.pagination {
    display: flex;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
  
  .pageitem {
    display: flex;
    align-items: center;
    margin: 0 2px;
  }
  
  .pagelink {
    width: 2.5rem;
    height: 2.5rem;
    background: none;
    border: 0.13rem solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  
  .pagelink:hover {
    background-color: #ddd;
  }
  
  .active .pagelink {
    width: 2.5rem;
    height: 2.5rem;
    background: rgb(47, 90, 255);
    border: 0.13rem solid rgb(255, 255, 255);
    border-radius: 0.5rem;
    font-family: Montserrat;
    font-size: 1rem;
    line-height: 1;
    font-weight: 700;
    color: rgb(255, 255, 255);
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  